.homePage {
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #121922;   
}

.headerContainerHome {
    background-image: url("/src/assets/Images/wallpaperflare.com_wallpaper.jpg");
    width: 100%;
    height: auto;
    padding: 10%;  
}

.headerContainerHome h1 { 
    font-size: 90px;
    font-weight: 150;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;  
    justify-content: center;
    margin-right: 12%;
}

.bodyHome h2{
    width: 100%;
    color: white;
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 5%;
    text-align: justify; 
    text-align-last: left;
}

.bodyHome p{
    width: 100%;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    line-height: 40px;
    margin-left: 5%;
    text-align: justify; 
    text-align-last: left;
}




